In [16]:
import pandas as pd
from datetime import datetime as dt
from datetime import timedelta
import numpy as np
pd.options.mode.chained_assignment = None

In [42]:
btc = pd.read_csv('API Data/BTC_price.csv',index_col = 0)
btc = btc[~btc.index.duplicated()].reset_index()
doge = doge = pd.read_csv('API Data/DOGE_price.csv',index_col = 0)
doge = doge[~doge.index.duplicated()].reset_index()
tweet_doge = pd.read_csv('DOGE Sentiment.csv',index_col = 0)
tweet_btc = pd.read_csv('BTC Sentiment.csv',index_col = 0)

In [43]:
tweet_doge

                    time  sentiment
0    2020-06-10 15:00:00        0.0
1    2020-06-10 19:00:00        0.0
2    2020-06-10 20:00:00        0.0
3    2020-06-10 23:00:00        0.0
4    2020-06-11 10:00:00        0.0
..                   ...        ...
464  2021-07-04 19:00:00        0.0
465  2021-07-05 08:00:00        0.0
466  2021-07-06 23:00:00        0.0
467  2021-07-07 17:00:00        0.0
468  2021-07-07 19:00:00        0.0

[469 rows x 2 columns]

In [44]:
doge

,time,open,high,low,close,volume,num_trades
0,2019-07-05 07:00:00,0.004490,0.004600,0.003760,0.003925,949430724.0,6487
1,2019-07-05 08:00:00,0.003915,0.003928,0.003765,0.003835,159004267.0,1529
2,2019-07-05 09:00:00,0.003845,0.003920,0.003814,0.003841,105517060.0,1241
3,2019-07-05 10:00:00,0.003837,0.003869,0.003710,0.003738,100804728.0,1213
4,2019-07-05 11:00:00,0.003728,0.003734,0.003636,0.003666,120261079.0,1416
...,...,...,...,...,...,...,...
17399,2021-06-30 21:00:00,0.251820,0.252080,0.244850,0.245520,66497079.3,22834
17400,2021-06-30 22:00:00,0.245550,0.247050,0.242860,0.243060,48553525.7,17177
17401,2021-06-30 23:00:00,0.243050,0.247150,0.242300,0.246970,44887310.7,16267
17402,2021-07-01 00:00:00,0.246970,0.248000,0.244770,0.247020,35714148.5,15537
17403,2021-07-01 01:00:00,0.247020,0.248520,0.239010,0.239490,78737165.9,28181

In [45]:
all_times = pd.date_range(start = doge.time.min(), end = doge.time.max(), freq = '1H')
all_times = pd.DataFrame(all_times)
all_times['time'] = ''
for i in range(len(all_times[0])):
    all_times['time'][i] = str(all_times[0][i])
all_times.drop(0, axis = 1,inplace = True)

In [46]:
doge = pd.merge(all_times,doge, on = "time", how = 'left')
doge.fillna(method="bfill",inplace = True)
doge = pd.merge(doge, tweet_doge, on="time", how = 'left')
doge.fillna(0,inplace = True)

In [49]:
doge

,time,open,high,low,close,volume,num_trades,sentiment
0,2019-07-05 07:00:00,0.004490,0.004600,0.003760,0.003925,949430724.0,6487.0,0.0
1,2019-07-05 08:00:00,0.003915,0.003928,0.003765,0.003835,159004267.0,1529.0,0.0
2,2019-07-05 09:00:00,0.003845,0.003920,0.003814,0.003841,105517060.0,1241.0,0.0
3,2019-07-05 10:00:00,0.003837,0.003869,0.003710,0.003738,100804728.0,1213.0,0.0
4,2019-07-05 11:00:00,0.003728,0.003734,0.003636,0.003666,120261079.0,1416.0,0.0
...,...,...,...,...,...,...,...,...
17438,2021-06-30 21:00:00,0.251820,0.252080,0.244850,0.245520,66497079.3,22834.0,0.0
17439,2021-06-30 22:00:00,0.245550,0.247050,0.242860,0.243060,48553525.7,17177.0,0.0
17440,2021-06-30 23:00:00,0.243050,0.247150,0.242300,0.246970,44887310.7,16267.0,0.0
17441,2021-07-01 00:00:00,0.246970,0.248000,0.244770,0.247020,35714148.5,15537.0,0.0
17442,2021-07-01 01:00:00,0.247020,0.248520,0.239010,0.239490,78737165.9,28181.0,0.0

In [47]:
btc = pd.merge(all_times,btc, on = "time", how = 'left')
btc.fillna(method="bfill",inplace = True)
btc = pd.merge(btc, tweet_btc, on="time", how = 'left')
btc.fillna(0,inplace = True)

In [48]:
btc

,time,open,high,low,close,volume,num_trades,sentiment
0,2019-07-05 07:00:00,11177.11,11236.36,11082.29,11162.05,2467.252193,23153.0,0.0
1,2019-07-05 08:00:00,11169.73,11207.08,11110.99,11144.18,1584.847267,15961.0,0.0
2,2019-07-05 09:00:00,11140.53,11406.83,11140.01,11321.51,2923.490960,27551.0,0.0
3,2019-07-05 10:00:00,11321.51,11371.06,11175.03,11233.74,1982.839602,20619.0,0.0
4,2019-07-05 11:00:00,11235.28,11245.03,11120.00,11141.57,1659.125365,18419.0,0.0
...,...,...,...,...,...,...,...,...
17438,2021-06-30 21:00:00,34936.43,34966.53,34223.15,34299.59,3787.824933,59229.0,0.0
17439,2021-06-30 22:00:00,34299.58,34403.55,34120.00,34120.01,1797.404599,34643.0,0.0
17440,2021-06-30 23:00:00,34120.01,34338.03,34061.16,34330.34,1935.266555,35895.0,0.0
17441,2021-07-01 00:00:00,34330.34,34408.00,34170.46,34325.72,1379.833783,28123.0,0.0
17442,2021-07-01 01:00:00,34325.72,34467.09,33412.52,33511.24,5946.295347,95184.0,0.0

In [50]:
features = ['close','volume','sentiment']

In [51]:
btc[features].to_csv('BTC Cleaned.csv')
doge[features].to_csv('DOGE Cleaned.csv')